<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".E2eSyncReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rondasafe.app.e2e.CONFIGURE" />
                <action android:name="com.rondasafe.app.e2e.CACHE" />
                <action android:name="com.rondasafe.app.e2e.LOGIN" />
                <action android:name="com.rondasafe.app.e2e.CHANGE_PIN" />
                <action android:name="com.rondasafe.app.e2e.START_SHIFT" />
                <action android:name="com.rondasafe.app.e2e.FORCE_SYNC" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
